pandas==1.4.2
numpy==1.22.3
python-dotenv==0.20.0
psycopg2-binary
facebook_business
boto3
nltk
emojis
price_parser
plotly
matplotlib==3.5.2
seaborn==0.11.2
pyperclip
multiset
CurrencyConverter
streamlit_option_menu
streamlit==1.9.2
statsmodels
sqlalchemy
numba
textblob