black
boto3
celery
email-validator
emoji
emojis
ipykernel
langdetect
loguru
pip-chill
plotly
psycopg2-binary
pydantic
python-dotenv
rich
seaborn
sqlalchemy
statsmodels
streamlit==1.9.2
streamlit-authenticator
streamlit-option-menu
textblob
wordcloud
